.spinning-logo__container {
  flex-direction: row;
  .spinning-logo {
    animation: spinning-logo infinite 20s linear;
    height: 300px;
    &:nth-child(even) {
      animation-direction: reverse;
    }
  }
  .spinning-logo--sprocket {
    transform-origin: 64.8% 55.4%;
    left: -130px;
    position: relative;

  }
}
@keyframes spinning-logo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
